{% extends 'base.html.twig' %}
    {% block title %}Main Page{% endblock %}

{% block navigation %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('mainpage') }}">Home<span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <a class=" nav-link btn btn-outline-success my-2 my-sm-0 btn-lg" href="{{ path('app_login') }}">Sign in</a>
        </div>
    </nav>

{% endblock %}

{% block content %}
    <h1 class="text-center">Welcome to Quizotopia! </h1>
{% endblock %}
