{% extends 'base.html.twig' %}

{% block title %}Hello AdminQuestionsController!{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="w-50">

            <table class="table" id="table-questions">
                <thead>
                <tr>
                    <th >id</th>
                    <th>question</th>
                </tr>
                </thead>

                <tbody>
                {% if questions %}
                    {% for question in questions %}
                        <tr>
                            <td scope="col">{{ question.id }}</td>
                            <td>{{ question.content }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('/public/assets/framework/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">

{% endblock %}
{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready( function () {
            $('#table-questions').DataTable();
        } );
    </script>

{% endblock %}
