{% extends 'base.html.twig' %}

{% block title %}Hello QuizesListController!{% endblock %}

{% block content %}
    <div class="container mt-4 mb-4">
        <div class="row">
            {% if quizzes %}

                {% for quiz in quizzes %}
                    <div class="col-sm-4 mb-4">
                        <div class="card card-cascade wider">

                            <div class="view view-cascade gradient-card-header blue-gradient p-4">

                                <h2 class="card-header-title text-center text-white mt-4 mb-3">{{ quiz.name }}</h2>

                            </div>

                            <div class="card-body card-body-cascade text-center">

                                <a class="btn btn-unique" value="{{ quiz.id }}" href="{{ path('play_quiz', {"id": quiz.id}) }};">Play</a>
                            </div>
                            <!-- Card content -->

                        </div>

                    </div>



                {% endfor %}
            {% endif %}
        </div>
    </div>


{% endblock %}