{% extends 'base.html.twig' %}

{% block title %}Answer validation{% endblock %}
{% block navigation %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('quizzes') }}">{% trans %}Quizzes{% endtrans %}</a>
            </li>

        </ul>
        <a class="nav-link btn btn-outline-info" href="{{ path('app_logout') }}">{% trans %}logout{% endtrans %}</a>
    </div>
{% endblock %}
{% block content %}
        <div class="col-12 col-lg-4 col-md-4" style="margin: 12% auto">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        {% if isTrue %}
                            <h3> {% trans %}Correct answer!{% endtrans%} </h3>
                        {% else %}
                            <h3>{% trans %}Answer is incorrect{% endtrans %}</h3>
                        {% endif %}
                    </div>
                    <ul class="list-group">
                    {% if status %}
                        <a class="list-group-item list-group-item-action" href="{{ path('user_rating',{"id":quizId, "userId":user.id }) }}">{% trans %}Show Rating{% endtrans %}</a>
                    {% else %}
                        <a class="list-group-item list-group-item-action" href="{{ path('quiz_player',{"id":qq, "quizId":quizId, }) }}">{% trans %}Next Question{% endtrans %}</a>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
