{% extends 'base.html.twig' %}

{% block title %}Hi check{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if isTrue %}
            <div class="container-fluid">Correct answer!</div>
        {% else %}
            <div class="container-fluid">Incorrect answer(((</div>
        {% endif %}
        {% if status %}
            <a class="container-fluid" href="{{ path('user_rating',{"id":quizId, "userId":user.id }) }}">Show Rating</a>
        {% else %}
            <a class="container-fluid" href="{{ path('quiz_player',{"id":qq, "quizId":quizId, }) }}">Next Question</a>
        {% endif %}
    </div>
{% endblock %}
